<div class="row">
  <div class="col text-center mt-3">
    <h2>Your matches - {{pagination?.totalItems}} found</h2>
    <div class="col">
      <div class="btn-group btn-group-sm">
        <button
          (click)="loadMembers()"
          [(ngModel)]="userParams.orderBy"
          btnRadio="lastActive"
          class="btn btn-secondary"
          name="orderBy"
          type="button">Last Active
        </button>

        <button
          (click)="loadMembers()"
          [(ngModel)]="userParams.orderBy"
          btnRadio="created"
          class="btn btn-secondary"
          name="orderBy"
          type="button">Newest Members
        </button>
      </div>
    </div>
  </div>
</div>

<div class="row mt-1 ">

  <form #form="ngForm" (ngSubmit)="loadMembers()" class="form-inline mb-3 px-0">
    <div class="col-12 col-xl-8 custom-flex mt-2 flex-wrap ">
      <div class="form-group mt-1">
        <label class="mr-2">Age from:</label>
        <input [(ngModel)]="userParams.minAge" [min]="18" class="form-control pl-3" name="minAge"
               style="width: 90px; height:50px;"
               type="number">
      </div>

      <div class="form-group custom-padding mt-1">
        <label class="mr-2">Age to:</label>
        <input [(ngModel)]="userParams.maxAge" class="form-control pl-3" name="maxAge"
               style="width: 90px; height:50px;"
               type="number">
      </div>

      <div class="form-group pe-2 mt-1">
        <label class="mr-2">Show:</label>
        <select [(ngModel)]="userParams.gender" class="form-select pl-3" name="gender"
                style="width: 150px; height:50px;"
                type="text">
          <option *ngFor="let gender of genderList" [value]="gender.value">
            {{gender.display}}
          </option>
        </select>
      </div>
    </div>

    <div class="col-12 col-xl-4  mt-2 ">
      <div class="btn-group">
        <button class="btn btn-light">Apply Filters</button>
        <button (click)="resetFilters()" class="btn btn-dark ml-1">Reset Filters</button>
      </div>
    </div>
  </form>

</div>


<div class="container px-0">
  <div class="row row-cols-auto  justify-content-center justify-content-sm-start">
    <div *ngFor="let member of members" class="col">
      <p>
        <app-member-card [member]="member"></app-member-card>
      </p>
    </div>
  </div>
</div>


<div *ngIf="pagination" class="row justify-content-center">
  <div class="col-12 d-flex justify-content-center">
    <pagination (pageChanged)="pageChanged($event)"
                [(ngModel)]="pagination.currentPage"
                [boundaryLinks]="true"
                [itemsPerPage]="pagination.itemsPerPage"
                [maxSize]="5"
                [totalItems]="pagination.totalItems"
                firstText="&laquo;"
                lastText="&raquo;"
                nextText="&rsaquo;"
                previousText="&lsaquo;">
    </pagination>
  </div>
</div>
