<div class="row">
  <div class="col-12">
    <h2 class="text-center text-primary">Basic info</h2>
    <hr>
    <h6>The app is a social media type application that allows users to:</h6>
    <ul>
      <li>Add information about themselves</li>
      <li>Add photos (each photo has to be approved by admin/moderator to be visible</li>
      <li>Communicate with other users- via real time chat and message box</li>
    </ul>
    <h6 *ngIf="!(accountService.currentUser$ | async)">If you don't want to register another user- feel free to login as
      demo users using buttons below</h6>
    <h6 *ngIf="accountService.currentUser$ | async">To login as one of the demo users- please logout first</h6>
    <hr>
  </div>

  <div class="col-12 d-sm-flex justify-content-sm-between">
    <button (click)="demoLogin('oliver')" [disabled]="accountService.currentUser$ | async" class="btn btn-light mb-1 "
            type="button">Login As Oliver
    </button>
    <button (click)="demoLogin('fay')" [disabled]="accountService.currentUser$ | async" class="btn btn-danger mb-1 mx-1"
            type="button">Login As Fay
    </button>
    <button (click)="demoLogin('admin')" [disabled]="accountService.currentUser$ | async" class="btn btn-secondary  mb-1 "
            type="button">Login as Admin
    </button>
  </div>

  <div class="col">
    <button (click)="cancel()" class="btn btn-sm btn-dark btn-block mb-1 mt-2" type="button">Close</button>
  </div>
</div>

