<form (ngSubmit)="registerForm.valid && register()" [formGroup]="registerForm" autocomplete="off">
  <h2 class="text-center text-primary">Sign Up</h2>
  <hr>
  <h6>Registration does not require email confiration, therefore anyone can create demo user!</h6>
  <hr>
  <div class="form-group">
    <label class="control-label mr-3">I am a:</label>
    <label class="radio-inline">
      <input formControlName="gender" type="radio" value="male"> Male
    </label>
    <label class="radio-inline">
      <input class="ml-3" formControlName="gender" type="radio" value="female"> Female
    </label>
  </div>

  <app-text-input [formControl]='registerForm.controls["userName"] | formControl' [label]="'Username'"></app-text-input>
  <app-text-input [formControl]='registerForm.controls["knownAs"] | formControl' [label]="'Known As'"></app-text-input>
  <app-date-input [formControl]='registerForm.controls["dateOfBirth"] | formControl'
                  [label]="'Date Of Birth'"
                  [maxDate]="maxDate"
  >
  </app-date-input>
  <app-text-input [formControl]='registerForm.controls["city"] | formControl' [label]="'City'"></app-text-input>
  <app-text-input [formControl]='registerForm.controls["country"] | formControl' [label]="'Country'"></app-text-input>

  <app-text-input [formControl]='registerForm.controls["password"] | formControl' [label]="'Password'"
                  [type]="'password'"></app-text-input>
  <app-text-input [formControl]='registerForm.controls["confirmPassword"] | formControl' [label]="'Confirm Password'"
                  [type]="'password'"></app-text-input>

  <div *ngIf="validationErrors.length > 0" class="row mt-5">
    <ul class="text-danger">
      <li *ngFor="let error of validationErrors">
        {{error}}
      </li>
    </ul>
  </div>

  <div class="form-group text-center">
    <button [disabled]="!registerForm.valid" class="btn btn-success mr-2 mb-1" type="submit">Register</button>
    <button (click)="cancel()" class="btn btn-dark mr-2 mb-1" type="button">Cancel</button>
  </div>
</form>

